torch==1.10.0
torchvision==0.11.1
pytorch-lightning==1.8.6
torchmetrics==0.10.2
albumentations==1.1.0
segmentation-models-pytorch==0.3.2
timm==0.6.12
opencv-python==4.5.5.64
wandb==0.12.7
pypdf2==1.26.0
kaleido==0.2.1
mmcv==1.7.1
mmsegmentation==0.30.0